<h2>Animal List</h2>
<div class="row">
  <div class="col-md-6">
    <select (change)="onChange($event.target.value)" >
      <option value="allAges">All animals</option>
      <option value="young">Young Animals</option>
      <option value="mature">Mature animals</option>
    </select>
  <div>
  <div class="col-md-6">
    <select (change)="onChange1($event.target.value)" >
      <option value="allDiets">All animals </option>
      <option value="omnivore">Omnivore</option>
      <option value="herbivore">herbivore</option>
      <option value="carnivore">carnivore</option>
    </select>
  </div>
</div>

<div class="row">
  <div class="col-sm-5">
    <ul>
      <li *ngFor="let animal of animals | ageGroup:filterByageGroup | dietType: filterBydietType">
        <h3>{{animal.species}}</h3>
        <figure>
          <img src="{{animal.image}}" alt="{{animal.name}}">
          <figcaption>
            {{animal.name}}
          </figcaption>
        </figure>
        <br>
        <div class="animal-info">
          <h4>Animal Info:</h4>
          <p><strong>Name:</strong> {{animal.name}}
            <p><strong>Age:</strong> {{animal.age}} years</p>
            <p><strong>Diet:</strong> {{animal.diet}}</p>
            <p><strong>Location:</strong> {{animal.location}}</p>
            <p><strong>Caretakers:</strong> {{animal.caretakers}}</p>
            <p><strong>Sex:</strong> {{animal.sex}}</p>
            <p><strong>likes:</strong> {{animal.likes}}</p>
            <p><strong>dislikes:</strong> {{animal.dislikes}}</p>
            <hr>
          </div>
          <button class="btn btn-primary" (click)="editAnimal(animal)">Edit</button>
        </li>
      </ul>
    </div>
</div>
