<div class="jumbotron">
  <h1> Animal Tracker </h1>
</div>

<div class="container">
  <new-animal (newAnimalSender)="addAnimal($event)"></new-animal>
  <div class="row">
    <div class="col-sm-7">
      <animal-list [animals]="animalList" (editAnimalSender)="editAnimal($event)">
      </animal-list>
    </div>
    <div class="con-sm-5">
      <edit-animal  [selectedAnimal]="selectedAnimal" (finishedEditingSender)="finishedEditing()"></edit-animal>
    </div>
  </div>
</div>
<!-- <div class="container">
  <ul>
    <li *ngFor="let animal of animals">
      <h3>{{animal.species}}</h3>
      <figure>
        <img src="{{animal.image}}" alt="{{animal.name}}">
        <figcaption>
          {{animal.name}}
        </figcaption>
      </figure>
      <br>

      <div class="animal-info">
        <h4>Animal Info:</h4>
        <p><strong>Name:</strong> {{animal.name}}
          <p><strong>Age:</strong> {{animal.age}} years</p>
          <p><strong>Diet:</strong> {{animal.diet}}</p>
          <p><strong>Location:</strong> {{animal.location}}</p>
          <p><strong>Caretakers:</strong> {{animal.caretakers}}</p>
          <p><strong>Sex:</strong> {{animal.sex}}</p>
          <p><strong>likes:</strong> {{animal.likes}}</p>
          <p><strong>dislikes:</strong> {{animal.dislikes}}</p>
          <hr>
        </div>
      </li>
    </ul>
  </div> -->
