.jumbtron{
  height: 100vh;
	font-family: 'Josefin Sans', sans-serif;
	max-width: 100%;
	background-size: cover;
	font-size: 33px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	font-weight: 1000;
	line-height: 3em;
	-webkit-text-fill-color: black;
  justify-content:center;
    align-items:center;
    text-align: center;
}

h1{
  text-align: center;
  vertical-align: middle;
}
